.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  z-index: 1000;
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
  background-color: teal;
  height: 30px;
  
}

.navbar.scrolled {
  background-color: #1e3551;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.navbar h1 {
  color: white;
  font-size: 1.8rem;
}

.nav-links {
  display: flex;
  gap: 2rem;
  margin-right: 45px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  position: relative;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #f0db4f;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  color: #f0db4f;
}

